body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.weather-btn {
    height: 40px;
    padding: 0 20px;
    background: #2196f3;
    border: none;
    border-radius: 5px;
}

.weather-btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: #2196f3;
} 